<h1>Invite someone to <%= @workspace.name %></h1>

<% if @invitation.errors.any? %>
  <ul class="txt-negative">
    <% @invitation.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @invitation, url: workspace_invitations_path(@workspace), class: "flex flex-column gap" do |form| %>
  <div class="flex flex-column gap-half">
    <%= form.label :email %>
    <%= form.email_field :email, class: "input", required: true, autofocus: true %>
  </div>
  <div class="flex flex-column gap-half">
    <%= form.label :role %>
    <%= form.select :role, Workspace::Roles::ROLE_CAPABILITIES.keys, {}, class: "input input--select", required: true %>
  </div>
  <%= form.submit "Send invitation", class: "btn btn--primary btn--medium" %>
<% end %>
